@using CustomIdentity.Models
@using SeaBattleDomainModel.Entities
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name !</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="panel panel-primary">
        <div class="panel-heading">Список кораблей</div>
        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Velocity</td>
                        <td>Size</td>
                        <td>Range</td>
                    </tr>
                </thead>
                @foreach(Ship ship in Model)
                {
                    <tr>
                        <th>@ship.Id</th>
                        <th>@ship.Velocity</th>
                        <th>@ship.Size</th>
                        <th>@ship.Range</th>
                    </tr>
                }
            </table>
        </div>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
